@using FamousQuoteQuiz.Models
@model FamousQuoteQuiz.Web.ViewModels.QuoteAndAuthorAnswersDTO

@{
    ViewBag.Title = "Home Page";
}

@if (TempData.ContainsKey("Message"))
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}

<h2 class="text-muted">Who said it?</h2>
<div class="row">
    <div class="col-md-12 servive-block servive-block-pink">
        <p>
            @Model.Quote.Content
        </p>
    </div>
</div>


<div id="results">

    @if (Model.QuizModeType == QuizModeType.Binary)
    {
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="text-muted">
                    @Model.AuthorAnswers.First()
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <button data-url='@Url.Action("ProcessAnswer", "Home", 
                                      new { id = Model.Quote.Id, author = Model.AuthorAnswers.First(), answer = "yes" } )'
                        class="process-answer btn btn-success">
                    Yes
                </button>
                <button data-url='@Url.Action("ProcessAnswer", "Home",
                                      new { id = Model.Quote.Id, author = Model.AuthorAnswers.First(), answer = "no" } )'
                        class="process-answer btn btn-danger">
                    No
                </button>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="btn-group-vertical">
                    @for (int i = 0; i < Model.AuthorAnswers.Count; i++)
                    {
                        <button data-url='@Url.Action("ProcessAnswer", "Home",
                                      new { id = Model.Quote.Id, author = Model.AuthorAnswers[i]} )'
                                class="process-answer btn btn-primary">
                            ->@Model.AuthorAnswers[i]
                        </button>
                    }

                </div>
            </div>
        </div>
    }

</div>

@section Scripts {
    <script>
        $('.process-answer').on('click', function (evt) {
            evt.preventDefault();
            evt.stopPropagation();

            var resultsDiv = $('#results');
            var url = $(this).data('url');

            $.get(url, function (partialView) {
                resultsDiv.html(partialView);
            });
        });
    </script>
}



