@{
    ViewBag.Title = "Home Page";
}

@if (TempData.ContainsKey("Message"))
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}

<h2 class="text-muted">Who said it?</h2>
<div class="row">
    <div class="col-md-12 servive-block servive-block-pink">
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p class="text-muted text-center">
            James Baldwin?
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        @Html.ActionLink("Yes", "Index", null, new { @class = "btn btn-success" })
        @Html.ActionLink("No", "Index", null, new { @class = "btn btn-danger" })
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        <div class="btn-group-vertical">
            @Html.ActionLink("->Pesho", "Index", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("->Kolyo", "Index", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("->Gosho", "Index", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>